{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="col-sm-10">    
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 my-5">Contact Us</h1> 
    </div> 
</div>

<form class="row g-3" method='POST'>  
    {% csrf_token %}  
        <div class="col">
            <label for="inputFullName4" class="form-label">Full Name</label>  
            <input type="text" name='name' class="form-control" placeholder="Full Name" aria-label="Full name">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" name='email' class="form-control" id="inputEmail4" placeholder="Enter valid e-mail address">
        </div>    
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" name='address' class="form-control" id="inputAddress" placeholder="1234 Main St Denville New Jersey 07054-3009 USA">
    </div>
    <div class="form-group">
        <label for="message4" class="form-label">Message</label>           
        <!-- Include Editor style. -->
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

        <!-- Create a tag that we will use as the editable area. --> 
        <!-- You can use a div tag as well. -->
        <textarea name='message' id="message"></textarea> 
    </div>    
    <div class="col-12">
        <button type="submit" class="btn btn-info success">Send</button>
        <a href=" {% url 'dashboard' %} " class='btn btn-danger'>Cancel</a>
        {% if messages %}
                    {% for message in messages %}
                        <span {% if message.tags %} class='{{message.tags}}'{% endif %} > {{message}}</span>    
                    {% endfor %}
            {% endif %}
    </div>
</form>


{% endblock content %} 